.idea/
unifig.iml
*.jar
*.cmd
unifig-srm/.mvn/
unifig-zuul-server/.mvn/
unifig-wms/.mvn/
unifig-tms/.mvn/
unifig-wms/mvnw
unifig-tms/mvnw
unifig-framework/.mvn/
unifig-ams/mvnw
unifig-ams/.mvn/
*.iml
unifig-config-server/mvnw
unifig-config-server/.mvn/
unifig-config-server/src/test/
unifig-crm/mvnw
unifig-crm/.mvn/
unifig-crm/src/test/
unifig-fms/mvnw
unifig-fms/.mvn/
unifig-fms/src/test/
unifig-framework/mvnw
unifig-hrmis/mvnw
unifig-hrmis/src/test/
unifig-framework/src/test/
unifig-pms/src/test/
unifig-rc/mvnw
unifig-rc/.mvn/
unifig-shop/.mvn/
unifig-shop/src/test/
unifig-srm/mvnw
unifig-srm/src/test/
unifig-system/src/test/
unifig-system/.mvn/
unifig-system/mvnw
unifig-zuul-server/mvnw
unifig-zuul-server/src/test/
unifig-wms/src/test/
unifig-tms/src/test/
unifig-shop/mvnw
unifig-rc/src/test/
unifig-pms/.mvn/
unifig-pms/mvnw
unifig-hrmis/.mvn/
unifig-ams/src/test/
unifig-common/src/test/
unifig-shop/target/
logs/
unifig-zipkin/.mvn/
unifig-zipkin/mvnw
unifig-common/target/
unifig-modules/unifig-wxsapp-mall/target/
ratel-common/target/
ratel-config/target/
ratel-modules/ratel-common/target/
ratel-zipkin/target/
ratel-monitor/target/

unifig-modules/unifig-common/target/
unifig-config/target/
unifig-core/target/
unifig-zipkin/target/
unifig-modules/unifig-basics/target/
unifig-modules/unifig-im/target/
