<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="etl.dispatch.boot.dao.ConfInfoClassifyMapper">

    <resultMap id="BaseResultMap" type="etl.dispatch.boot.entity.ConfInfoClassify" >
        <id column="pk_id" property="pkId" />
        <result column="classify_name" property="classifyName" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
    <select id="page" resultType="java.util.Map">
        SELECT
		    c.pk_id AS pkId,
		    c.classify_name AS ClassifyName,
		    c.remark ,
		    c.`status`,
		    c.create_user AS `createUser`,
		    c.create_time AS createTime,
		    c.update_user AS updateUser,
		    c.update_time AS updateTime
		FROM
		    etl_config.conf_info_classify c
		WHERE
		    c.`status` != - 1
    </select>    
    

</mapper>