<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="etl.dispatch.boot.dao.ConfRelyTasksMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="etl.dispatch.boot.entity.ConfRelyTasks">
		<id column="pk_id" property="pkId" />
		<result column="group_id" property="groupId" />
		<result column="tasks_id" property="tasksId" />
		<result column="relytasks_id" property="relytasksId" />
		<result column="status" property="status" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<select id="test">
		SELECT
			a.pk_id pkId,
			a.tasks_id `tasksId`,
			c.tasks_name `tasksName`,
			a.relytasks_id `relytasksId`,
			d.tasks_name   `relytasksName`,
			a.group_id `groupId`,
			b.group_name `groupName`
		FROM
			conf_rely_tasks a
		LEFT JOIN conf_info_group b ON a.group_id = b.pk_id
		LEFT JOIN conf_info_tasks c ON a.tasks_id = c.pk_id
		LEFT JOIN conf_info_tasks d on d.pk_id=a.relytasks_id
		where a.`status`=1
		<if test="id!=null">
		and group_id=#{id}
		</if>
	</select>
	<!-- 上面备份 -->
	<select id="selectTasks" resultType="java.util.Map" >
		SELECT
			a.pk_id pkId,
			a.tasks_id `tasksId`,
			c.tasks_name `tasksName`,
			a.relytasks_id `relytasksId`,
			d.tasks_name   `relytasksName`,
			a.group_id `groupId`,
			b.group_name `groupName`,
			( SELECT is_success FROM sign_info_tasks st WHERE st.classify = 1 AND st.task_id = CONCAT(a.group_id,'_',a.tasks_id) ORDER BY log_time DESC LIMIT 1 ) `isSuccess`,
			( SELECT message FROM sign_info_tasks st WHERE st.classify = 1 AND st.task_id = CONCAT(a.group_id,'_',a.tasks_id) ORDER BY log_time DESC LIMIT 1 ) `message`,
			( SELECT log_time FROM sign_info_tasks st WHERE st.classify = 1 AND st.task_id = CONCAT(a.group_id,'_',a.tasks_id) ORDER BY log_time DESC LIMIT 1 ) `logTime` 
		FROM
			conf_rely_tasks a
		LEFT JOIN conf_info_group b ON a.group_id = b.pk_id
		LEFT JOIN conf_info_tasks c ON a.tasks_id = c.pk_id
		LEFT JOIN conf_info_tasks d on d.pk_id=a.relytasks_id
		where a.`status`=1
		<if test="id!=null">
		and group_id=#{id}
		</if>
	</select>
	
	<select id="isNext" resultMap="BaseResultMap" >
	select * from conf_rely_tasks c where  c.`status`=1 and  c.relytasks_id =#{id}
	</select>
	
	<update id="updatebyGroupId" >
	update conf_rely_tasks SET `status`=-1 where group_id=#{groupId}
	</update>
	<update id="updatebyTasksId" >
		update conf_rely_tasks SET `status`=-1 where tasks_id=#{tasksId}
	</update>
	
	
</mapper>
