<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unifig.organ.mapper.UmsMemberScMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.unifig.organ.model.UmsMemberSc">
        <id column="id" property="id" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="to_nickname" property="toNickname" />
        <result column="or_code" property="orCode" />
        <result column="create_time" property="createTime" />
        <result column="edit_time" property="editTime" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_id, to_id, to_nickname, or_code, create_time, edit_time, enable
    </sql>

</mapper>
